[submodule ".config/hypr/hyprlock-theme"]
	path = .config/hypr/hyprlock-theme
	url = https://github.com/l4v3nx/googlish-hyprlock-theme
[submodule ".config/mpv"]
	path = .config/mpv
	url = https://github.com/l4v3nx/mpvconfig.git
